---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana-operator
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: grafana-operator
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: grafana-operator
    spec:
      serviceAccountName: grafana-operator
      containers:
        - name: grafana-operator
          image: quay.io/integreatly/grafana-operator:latest
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - grafana-operator
          args:
          - '--grafana-image=docker.io/grafana/grafana'
          - '--grafana-image-tag=6.5.1'
          imagePullPolicy: Always
          env:
            - name: TEMPLATE_PATH
              value: /usr/local/bin/templates
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "grafana-operator"
          resources:
            requests:
              cpu: 50m
              memory: 70Mi
